@font-face {
  font-family: "coolveticarg";
  src: font-url('coolveticarg.woff'), font-url('coolveticarg.eot'), font-url('coolveticarg.otf'), font-url('coolveticarg.svg'), font-url('coolveticarg.ttf'), font-url('coolveticarg.woff2');
}
@font-face {
  font-family: "corbel";
  src: font-url('corbel.woff'), font-url('corbel.eot'), font-url('corbel.otf'), font-url('corbel.svg'), font-url('corbel.ttf'), font-url('corbel.woff2');
}

header.headin{
	background:#fff;
	width:100%;
	position:fixed;
	-webkit-box-shadow:0 0 33px 0 rgba(0,0,0,.75);
	-moz-box-shadow:0 0 33px 0 rgba(0,0,0,.75);
	box-shadow:0 0 33px 0 rgba(0,0,0,.75);
	z-index:3000
}
.h-log{
	padding:15px 10px
}
.h-s1{
	background:#fff
}
.h-s2{
	background:#00c7d4;
	color:#fff;
	font-size:12px
}
#ac-menu{
	text-decoration:none;
	color:#fff
}
#ac-menu:hover{
	text-decoration:none;
	color:#dedede
}
.menu-li{
	padding:15px 10px;
	float:left
}
.searching{
	padding:8px 10px;
	float:left
}
.searchin-control{
	color:#fff;
	background:transparent;
	border:1px solid #fff;
	border-radius:6px;
	padding:7px 5px;
	font-size:16px
}
.searchin-control::placeholder{
	color:#f1f1f1
}
nav.navi{
	background:#fff;
	width:20%;
	border-right:1px solid #ccc;
	height:100%;
	position:fixed;
	z-index:2000
}
.pad-menu{
	padding:12% 0
}
.menu-nav{
	padding:0 10px;
	font-family: "corbel"

}
.menu-nav ul{
	list-style:none;
	margin-left:-30px
}
.menu-nav ul li a{
	display:block;
	padding:15px;
	color:#333;
	text-decoration:none
}
.checkbox_fil{
	font-size:14px;
	margin-left:30px
}
@media (max-width:768px){
	.pad-menu{
		padding:14% 0
	}
	.title-hidden{
		display:none
	}
	section.body{
		padding-top:14% !important
	}
	nav.navi{
		width:50%
	}
}
section.body{
	left:20%;
	position:absolute;
	padding:6% 1%;
	width:80%
}
body{
	background:#eaeaea !important
}
@media (max-width:568px){
	.searching{
		display: none;
	}
	.h-mini{
		display: none;
	}
	.pad-menu {
    padding: 21% 0;
	}
	section.body{
		padding-top:21% !important
	}
}


h2.more-products-title {
	font-size: 1.5rem;
  width: 100%;
  /*text-transform: uppercase;*/
  color: #e7a614;
  font-family: "coolveticarg";
	text-align: center;
  /*border-bottom: 2px solid $light-purple;*/
}

.gray-container h4 {
  color: #472a2b;
  margin-bottom: 0;
  font-family: "coolveticarg";
}
.gray-container span {
  color: black;
  margin-bottom: 0.5rem;
  font-family: "corbel";
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #F2EFE9 !important;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}


.video-wrapper {
  height: 0;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  position: relative;
}

.video-wrapper iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.line {
  width: auto;
	height: 2px;
	border-bottom: 1px solid #666;
}
a.lnk-featured-promo:hover, a.lnk-featured-promo:active, a.lnk-featured-promo:focus{
  color: #a5ce3a;
  text-decoration: none !important;
} 

a.lnk-featured-promo img{
  transition: transform .5s ease;
}

a.lnk-featured-promo img:hover{
  transform: scale(1.10);
}

.pulse-checking{
  animation: pulse 2s infinite;
  background-color: rgba(72,100,159,0.4);
  border-radius: 50%;
  height: 30px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 30px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(2,30,88, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(2,30,88, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(2,30,88, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(2,30,88, 0.4);
    box-shadow: 0 0 0 0 rgba(2,30,88, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(2,30,88, 0);
      box-shadow: 0 0 0 10px rgba(2,30,88, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(2,30,88, 0);
      box-shadow: 0 0 0 0 rgba(2,30,88, 0);
  }
}