<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p style="color: #5d6c83"><small><i>Copyright 2019 <a href="https://lwr.org/" target="_blank" title="Lutheran World Relief">Lutheran World Relief</a>. Todos los derechos reservados.</i></small></p>
			</div>
			<div class="col-md-6">
				<div class="float-right">
				  <a href="https://www.facebook.com/LuthWorldRelief/" style="color: #48649f;"><i class="fab fa-facebook-square fa-2x"></i></a>
				  <a href="https://twitter.com/LuthWorldRelief" style="color: #00acee;"><i class="fab fa-twitter-square fa-2x"></i></a>
				  <a href="mailto:cacaomovil@gmail.com" style="color: #333;"><i class="fas fa-envelope-square fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<style>
	footer{
		padding: 1%;
    margin: 1% 0;
    background: #fff;
	}

</style>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64984400-6"></script>

<script>

window.dataLayer = window.dataLayer || [];

function gtag(){dataLayer.push(arguments);}

gtag('js', new Date());

 gtag('config', 'UA-64984400-6');

</script>
